<div>
  <div class="logo" [routerLink]="['doughnut']">
    <img src="./favicon.ico">
  </div>
  <ul nz-menu nzMode="inline">
    <li nz-menu-item  [routerLink]="['/doughnut']">
      <span>Doughnut</span>
    </li>
    <li nz-menu-item  [routerLink]="['/bar']">
      <span>Bar</span>
    </li>
    <li nz-menu-item  [routerLink]="['/bubble']">
      <span>Bubble</span>
    </li>
    <li nz-menu-item  [routerLink]="['/line']">
      <span>Line</span>
    </li>
    <li nz-menu-item  [routerLink]="['/pie']">
      <span>Pie</span>
    </li>
    <li nz-menu-item  [routerLink]="['/radar']">
      <span>Radar</span>
    </li>
    <li nz-menu-item  [routerLink]="['/scatter']">
      <span>Scatter</span>
    </li>
    <li nz-menu-item  [routerLink]="['/polar-area']">
      <span>Polar-Area</span>
    </li>
  </ul>
</div>

